name: ci

on:
  pull_request:
    branches:
      - main

jobs:
  flutter_ci:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    with:
      flutter_version: "3.41.x"
      run_bloc_lint: true
